<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <dhlexpress>
                <version>1.0.0</version>
                <model>Dhl\ExpressRates\Model\Carrier\Express</model>
                <active>0</active>
                <showmethod>0</showmethod>
                <sort_order>0</sort_order>
                <title>DHL Express</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <sallowspecific>0</sallowspecific>
                <is_online>1</is_online>
                <package_insurance_from_value>0</package_insurance_from_value>
                <packaging_weight>0.0</packaging_weight>
                <allowedinternationalproducts>P;D;U</allowedinternationalproducts>
                <alloweddomesticproducts>N</alloweddomesticproducts>
                <cut_off_time>13,00,00</cut_off_time>
                <pickup_time>16,00,00</pickup_time>
            </dhlexpress>
        </carriers>
    </default>
</config>
