<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="1000" translate="tooltip label comment">
            <group id="dhlexpress" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10" translate="tooltip label comment">
                <label><![CDATA[DHL Express]]></label>

                <!-- Custom information section -->
                <field id="custom_information" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Dhl\ExpressRates\Block\Adminhtml\System\Config\Form\Field\CustomInformation</frontend_model>
                    <attribute type="shared">1</attribute>
                </field>

                <include path="Dhl_ExpressRates::system/general_config.xml"/>
                <include path="Dhl_ExpressRates::system/api_config.xml"/>
                <include path="Dhl_ExpressRates::system/rate_request_config.xml"/>
                <include path="Dhl_ExpressRates::system/checkout_config.xml"/>
                <include path="Dhl_ExpressRates::system/customize_rates_config.xml"/>
                <include path="Dhl_ExpressRates::system/free_shipping_config.xml"/>
            </group>
        </section>
    </system>
</config>
